@import "base/reset";
@import "base/colors";
@import "base/typography";
@import "components/hero";
@import "components/your-day-section";
@import "components/buttons";

main {
  font-family: $font-Body-Text;
  color: $clr-Dark-Grey;
}
.container {
  padding: 0 1rem;
}
