$font-Heading: "Big Shoulders Display", cursive;
$font-Body-Text: "Outfit", sans-serif;

@mixin heading {
  font-family: $font-Heading;
  font-weight: 900;
  color: $clr-Almost-Black;
  text-transform: uppercase;
  font-size: 96px;
  line-height: 88px;
}
@mixin headingXL {
  @include heading();
  font-size: 96px;
  line-height: 88px;
}
@mixin headingL {
  @include heading();
  font-size: 70px;
  line-height: 70px;
}
@mixin headingM {
  @include heading();
  font-size: 60px;
  line-height: 50px;
}
@mixin headingS {
  @include heading();
  font-size: 36px;
  line-height: 36px;
}
@mixin bodyM {
  font-size: 22px;
  line-height: 32px;
}
@mixin bodyS {
  font-size: 18px;
  line-height: 28px;
}
