.section-your-day {
  margin: 120px 0;
}
.img--square {
  min-width: 343px;
  min-height: 320px;
  width: 100%;
  margin-bottom: 25px;
}
.section__title {
  @include sectionHeader();
  margin-bottom: 21px;
}
.section__paragraph {
  @include bodyS();
  margin-bottom: 2rem;
}
.img-2 {
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  min-width: 343px;
  min-height: 480px;
}
.section__text-wrapper--black {
  background-color: $clr-Almost-Black;
  color: $clr-White;
  padding: 48px 24px 47px;
}
.section__title--white {
  color: $clr-White;
}
.footer {
  background-color: $clr-Almost-Black;
  color: $clr-White;
  padding: 48px 32px;
}
.footer__heading {
  font-size: 20px;
  font-family: $font-Heading;
  margin-bottom: 38px;
  text-transform: uppercase;
  line-height: 1;
}
.footer__text {
  @include bodyS;
  margin-bottom: 58px;
}
.social__link {
  margin-right: 20px;
}
